@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

@media (min-width: 550px) {
    .iframe {
        width: 50%;
    }
}

@media (min-width: 1080px) {
    .iframe {
        width: 33.3%;
    }
}

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
  }

main {
    display: flex;
    flex-wrap: wrap;
}

#header {
    padding: 40px;
    text-align: center;
    background: black;
    color: white;
    font-size: 10vh;
    font-family: 'Bangers', cursive;
}

.redes {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}


#png {
    width: 30%;
}

a {
    display: flex;
    justify-content: center;
    max-width: 50%;
}